*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    padding: 25px;
}
.container .content
{
text-align: center;
}
.examples
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.example
{
    margin-top: 15px;
    width: 30%;
    padding: 50px 0px;
    /* min-height: 300px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(58 235 9);
    border: 7px solid #e91e63;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;

    /* color: white; */
}

.example h1
{
    font-size: 152px;
}
.inputAnswer
{
    width: 70%;
    border: 2px solid white;
    padding: 15px 10px;
    font-size: 100px;
    border-radius: 15px;
}
.inputAnswer:focus
{
    outline: none;
    border: 3px solid #e91e63;
    box-shadow: 0px 0px 20px black;
}
.btn
{
    border: 3px solid #e91e63;
    color: #e91e63;
    padding: 15px 30px;
    border-radius: 5px;
    background:none;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}
.btn.check
{
    display: none;
}
.btn:hover{
    background-color:#e91e63;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.back-red
{
    background-color: red !important;
}
.oyinchi_son
{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}
.oyinchi_son div
{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oyinchi_son h1{
    font-size: 80px;
    color: #e91e63;
}
.oyinchi_son select
{
    width: 90%;
    padding: 15px 10px;
    font-size: 50px;
    text-align: center;
    color: #e91e63;
    border: 5px solid #e91e63;
    box-shadow: 0px 0px 25px black;
    border-radius: 15px;
    font-weight: bolder;
}
.oyinchi_son .btn.select
{
    position: absolute;
    bottom: 0;
    /* margin-top: 150px; */
}
.oyinchi_son select:hover
{
   background-color: #e91e63;
   color: white;
}
.oyinchi_son select:focus
{
    outline: none;
}
.oyinchi_son select option
{
    border-radius: 15px;
}
.oyinchi_son select option:focus
{
    border-radius: 15px;

}
@media  screen and (max-width: 1200px) {
    .example
    {
        width: 30%;

    }
    .example h1
    {
        font-size: 100px;
    }
}
@media  screen and (max-width: 750px) {
    .example
    {
        width: 45%;
    }
    .example h1
    {
        font-size: 72px;
    }
    .oyinchi_son div
    {
        width: 80%;
    }
    .oyinchi_son div h1
    {
        font-size: 40px;
    }
    .oyinchi_son div select
    {
        font-size: 25px;
    }
}
@media  screen and (max-width: 450px) {
    .example
    {
        width: 95%;
    }
    .example h1
    {
        font-size: 72px;
    }
}